{% extends 'shop/basic.html' %}

{% block title %} MyCart:- {{product.product_name}} {% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
    <div class="col-md-4">
        <div class="row">
            <img src="/media/{{product.image}}" height="350px" width="350px">
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary mx-5 my-2">Buy Now</button>
            <button type="button" class="btn btn-primary my-2">Add To Cart</button>
        </div>
    </div>
    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><b>Rs. {{product.price}}</b></p>
        <p>{{product.desc}}</p>
    </div>
        </div>
</div>
{% endblock %}